html {
  font-size: $font-size;
  overflow-y: scroll;
}

body {
  font-size: $font-size;
  font-family: $font-main;
}

a {
  color: $color-primary;
  
  &:hover,
  &:focus {
    text-decoration: none;
    color: $color-accent;
  }
}

section {
  position: relative;
  overflow: hidden;
}

h1 {
  margin: 0;
  font-family: $font-header;
  
  @include xs-min {
    margin-bottom: $gap * 3;
    margin-top: -($gap / 2);
    font-size: 3rem;
  }
  
  @include xs {
    font-size: 2rem;
    margin-bottom: $gap * 2;
  }

  &::after {
    width: 100%;
    position: absolute;
    margin: 0.85em 0 0 $gap;
    content: "";
    border-bottom: 3px solid $color-accent-border;
  }
}

h2 {
  font-family: $font-header;
  
  @include xs-min {
    margin: $gap * 4 0 $gap * 3 $gap * 3;
    font-size: 2.5rem;
  }
  
  @include xs {
    font-size: 1.75rem;
    margin: $gap * 3 0 $gap * 2 $gap * 3;
  }

  &::before {
    width: 30px;
    position: absolute;
    left: 0;
    margin: 0.25em 0 0 0;
    content: "";
    border-top: 3px solid $color-accent-border;
  }

  &::after {
    width: 100%;
    position: absolute;
    margin: 0.85em 0 0 $gap;
    content: "";
    border-bottom: 3px solid $color-accent-border;
  }
}

h4 {
  color: $color-light;
}

ul {
  list-style-type: none;
  padding: 0;
}