.header-logo__title, .header-logo__description {
  text-shadow: 0 0 5px black, 0 0 20px black;
}

.header, .main, .left-sidebar {
  margin-bottom: 80.0px;
}

.navbar-inverse {
  background-color: #191919;
  margin-bottom: 0;
}

.navbar-inverse .navbar-nav > .active > a {
  background-color: #053159;
}

.navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #517ba2;
}

.navbar-inverse .navbar-nav > li > a {
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
  background-color: #165690;
}

.navbar-header {
  text-align: center;
}

.navbar-toggle {
  float: none;
  margin-right: 0;
}

.panel {
  background-color: #ebebeb;
  margin-bottom: 30px;
}

.panel-info {
  border: none;
}

.panel-info > .panel-heading {
  color: #ffffff;
  background-color: #df8a13;
  border: none;
  font-size: 1.2rem;
  letter-spacing: 0.1em;
}

.panel-body {
  border: 1px solid #dddddd;
  border-radius: 0 0 4px 4px;
}

.input-lg,
.input-group-lg > .form-control {
  font-size: 0.875rem;
}

.thumbnail {
  -webkit-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

html {
  font-size: 16px;
  overflow-y: scroll;
}

body {
  font-size: 16px;
  font-family: "PT Sans", sans-serif;
}

a {
  color: #165690;
}

a:hover, a:focus {
  text-decoration: none;
  color: #df8a13;
}

section {
  position: relative;
  overflow: hidden;
}

h1 {
  margin: 0;
  font-family: "PT Serif", serif;
  font-size: 3rem;
  margin-bottom: 45px;
  margin-top: -7.5px;
}

h1::after {
  width: 100%;
  position: absolute;
  margin: 0.85em 0 0 15px;
  content: "";
  border-bottom: 3px solid #f4c583;
}

h2 {
  margin: 60px 0 45px 45px;
  font-family: "PT Serif", serif;
  font-size: 2.5rem;
}

h2::before {
  width: 30px;
  position: absolute;
  left: 0;
  margin: 0.25em 0 0 0;
  content: "";
  border-top: 3px solid #f4c583;
}

h2::after {
  width: 100%;
  position: absolute;
  margin: 0.85em 0 0 15px;
  content: "";
  border-bottom: 3px solid #f4c583;
}

.header-logo {
  padding: 100px 0;
  background-color: #232323;
  text-align: center;
  background-image: url(../img/header-bg.jpg);
  background-position: 50% 50%;
  background-size: cover;
}

.header-logo__title {
  display: block;
  color: #df8a13;
  font-family: "PT Serif", serif;
}

.header-logo__description {
  display: block;
  color: #ffffff;
  font-size: 1.15rem;
  letter-spacing: 0.2em;
}

.main .site-search {
  margin-bottom: 45px;
}

.main .user-login {
  margin-bottom: 60px;
}

.new-films-row {
  margin-right: -7.5px;
  margin-left: -7.5px;
  margin-bottom: -15px;
}

.new-films-item {
  padding-left: 7.5px;
  padding-right: 7.5px;
  margin-bottom: 15px;
}

.new-films-item__image {
  width: 100%;
}

.new-films-item__title {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
  -webkit-transition: color 0.25s;
  -o-transition: color 0.25s;
  transition: color 0.25s;
}

.new-films-item__thumbnail {
  margin-bottom: 0;
  -webkit-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.new-films-item__thumbnail:hover {
  background-color: #df8a13;
}

.new-films-item__thumbnail:hover h3 {
  color: #ffffff;
}

.top-week-row {
  margin-right: -7.5px;
  margin-left: -7.5px;
  margin-bottom: -15px;
}

.top-week-item {
  padding-left: 7.5px;
  padding-right: 7.5px;
  margin-bottom: 15px;
}

.top-week-item__image {
  width: 100%;
}

.top-week-item__title {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
  -webkit-transition: color 0.25s;
  -o-transition: color 0.25s;
  transition: color 0.25s;
}

.top-week-item__thumbnail {
  margin-bottom: 0;
  -webkit-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.top-week-item__thumbnail:hover {
  background-color: #df8a13;
}

.top-week-item__thumbnail:hover h3 {
  color: #ffffff;
}

.left-sidebar .panel:last-of-type {
  margin-bottom: 0;
}

.vertical-slider {
  border-radius: 4px;
  overflow: hidden;
}

.vertical-slider__image {
  width: 100%;
}

.user-login {
  position: relative;
}

.user-login__tabs {
  position: absolute;
  top: 0;
  right: 10px;
  border: none;
}

.user-login__tabs a {
  color: #dddddd;
  border: none !important;
  background-color: transparent !important;
  padding: 14px 5px 11px !important;
}

.user-login__tabs .active a {
  color: #ffffff !important;
}

.site-news-item {
  clear: both;
  position: relative;
}

.site-news-item:not(:last-child) {
  min-height: 85px;
  margin-bottom: 15px;
}

.site-news-item:not(:last-child)::after {
  content: "";
  position: absolute;
  width: calc(100% - 85px);
  height: 1px;
  background-color: #dddddd;
  bottom: -5px;
  right: 0;
}

.site-news-item:hover a {
  color: #df8a13;
}

.site-news-item:hover .site-news-item__image {
  border-color: #df8a13;
  background-color: #df8a13;
}

.site-news-item__image {
  float: left;
  width: 75px;
  margin: 0 10px 10px 0;
}

.site-news-item__title {
  margin-bottom: 10px;
}

.site-news-item__title a {
  -webkit-transition: color 0.25s;
  -o-transition: color 0.25s;
  transition: color 0.25s;
  display: -webkit-box;
  overflow: hidden;
  height: 50px;
  font-size: 1rem;
  line-height: 1.5rem;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.site-news-item__date {
  font-size: 0.8rem;
  color: #909090;
  text-align: right;
}

.top-films__body {
  padding-right: 0;
  padding-left: 0;
}

.top-films__list {
  margin-bottom: 0;
}

.top-films__item {
  background-color: transparent;
  margin-left: -1px;
  margin-right: -1px;
  color: #165690 !important;
  padding-right: 55px;
}

.top-films__item:first-child {
  border-radius: 0;
  border-top: none;
}

.top-films__item:last-child {
  border-radius: 0;
  border-bottom: none;
}

.top-films__item:hover, .top-films__item:focus {
  border-color: #df8a13;
  background-color: #df8a13 !important;
  color: #ffffff !important;
}

.top-films__item:hover .badge, .top-films__item:focus .badge {
  background-color: #232323;
}

.top-films__badge {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 15px;
}

@media (min-width: 576px) {
  .header-logo__title {
    font-size: 3.5rem;
    letter-spacing: 0.33em;
    margin-right: -15px;
  }
}

@media (min-width: 768px) {
  .navbar-inverse .navbar-nav > li > a {
    border-radius: 4px;
  }
  .navbar-left > li {
    padding: 5px 5px 5px 0;
  }
  .navbar-right > li {
    padding: 5px 0 5px 5px;
  }
}

@media (max-width: 767.8px) {
  .navbar-inverse .navbar-nav > li > a {
    text-align: center;
  }
  .navbar-left {
    margin-bottom: 0;
  }
  .navbar-right {
    margin-top: 0;
  }
}

@media (max-width: 575.8px) {
  .header-logo__title {
    font-size: 2.5rem;
    letter-spacing: 0.2em;
    margin-right: -7.5px;
  }
}
